<div class="col-md-4 col-md-offset-2">
	<h2>Restaurant</h2>
	<p>
		<small>Profile Name</small><br>
		<strong>{{profile_name}}</strong><br>
	</p>
	<p>
		<small>City Name</small><br>
		<strong>{{city_name}}</strong><br>
	</p>
	<p>
		<small>State Name</small><br>
		<strong>{{state_name}}</strong><br>
	</p>
	<p>
		<small>Area Name</small><br>
		<strong>{{area_name}}</strong><br>
	</p>
	<p>
		<small>Locality Name</small><br>
		<strong>{{locality_name}}</strong><br>
	</p>
	
</div>
