<div class="col-md-4 col-md-offset-2">
	<h2>Diner Details</h2>
	<p>
		<small>First Name</small><br>
		<strong>{{d_first_name}}</strong><br>
	</p>
	<p>
		<small>Last Name</small><br>
		<strong>{{d_last_name}}</strong><br>
	</p>
	<p>
		<small>Email</small><br>
		<strong>{{d_email}}</strong><br>
	</p>
	<p>
		<small>Phone</small><br>
		<strong>{{d_phone}}</strong><br>
	</p>
	<p>
		<small>Register Date</small><br>
		<strong>{{d_dt}}</strong><br>
	</p>
	
</div>
